<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is a weather application used to fetch current weather condition. This app uses API's  like Mapbox and Weatherstack. This application is made up of languages like HTML,CSS,JavaScript,NodeJS and a framework known as express.</p>
    </div>
    
    {{>footer}}
</body>

</html>